<div class="menu-outer">
   <div class="menu-icon">
       <div class="bar"></div>
       <div class="bar"></div>
       <div class="bar"></div>
   </div>
   <nav>
       <ul>
          <li><a class="<%= path === '/home' ? 'active' : '' %>" href="/home">PoÄetna stranica</a></li>
          <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Prijenos slike</a></li>
          <li><a class="<%= path === '/gallery' ? 'active' : '' %>" href="/gallery">Galerija</a></li>
      </ul>
  </nav>
</div>
<a class="menu-close" onClick="return true">
   <div class="menu-icon">
       <div class="bar"></div>
       <div class="bar"></div>
   </div>
</a>