html,
body {
  background: #ebd7d2;
}

.custom-carousel {
  max-width: 600px;
  margin: 0 auto;
  background: #ebd7d2;
}

.color-class {
  background: #ebd7d2;
  font-family: "Great Vibes", cursive;
  font-size: x-large;
}

img {
  max-height: 320px;
  max-width: 240px;
}

h1, h2 {
  font-family: "Great Vibes", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; 
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-family: "Great Vibes", cursive;
  font-size: larger;
}



