html, body {
    background: #ebd7d2;
  }

.custom-carousel {
    max-width: 600px;
    margin: 0 auto;
    background: #ebd7d2;
    
  }

.color-class {
    background: #ebd7d2;
}

img {
  max-height: 320px;
  max-width: 240px;
}





  

  