<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <h1>Nikolina i Graziano</h1>
    <h2>Thank you for sharing our special day with us</h2>
    <h2>24.10.2024</h2>
    <div class="gif-container">
        <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExem85bDlxbDJiZGI3ZDN5bXh0eW1kN3ZmeHV0MDM4YzM4Z2EwcGMyeCZlcD12MV9pbnRlcm5hbF9naWZ_fYnlfaWQmY3Q9cw/rLOUezbE4lahmn50xD/giphy.gif" alt="GIF Description" width="220" height="170">
    </div>

<%- include('../includes/end.ejs') %>
