<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 style="text-align: center;" class="green-text">Hvala Vam što dijelite naš poseban dan s nama!</h2>
    <h1>Nikolina i Graziano</h1>
    <div class="gif-container">
        <img src="<%= gifUrl %>" alt="Wedding ring" width="240" height="240">
    </div>

<%- include('../includes/end.ejs') %>
