<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <link rel="stylesheet" href="/css/button.css">
  <br>
  <br>
  <br>
  <h1>Upload your pictures</h1>
  <br>
  <br>
  <form action="/upload" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
    <label for="imageInput"  class="border-box">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 3H12H8C6.34315 3 5 4.34315 5 6V18C5 19.6569 6.34315 21 8 21H11M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V11.8125" stroke="#fffffff" stroke-width="2"></path>
    <path d="M17 15V18M17 21V18M17 18H14M17 18H20" stroke="#fffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg> 
      <br>
      <span>&nbsp;Select image</span>
    </label>
      <input type="file" name="image" accept="image/*" id="imageInput" size="30" >
    <br>
    <div id="imagePreview" style="display: none;">
      <img src="" alt="Selected Image" id="selectedImage">
    </div>
    
    <br>
    <button type="submit" class="cssbuttons-io-button">
      <svg viewBox="0 0 640 512" fill="white" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"></path></svg>
       <span>Upload image</span>
     </button>
  </form>
  <p id="errorMessage" style="color: red; display: none;">Please select an image to upload.</p>
  <script src="/js/main.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>
