<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <h1>Image Upload</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
    <input type="file" name="image" accept="image/*" id="imageInput">
    <button type="submit">Upload Image</button>
  </form>
  <p id="errorMessage" style="color: red; display: none;">Please select an image to upload.</p>

  <!-- Display the selected image here -->
  <div id="imagePreview" style="display: none;">
    <img src="" alt="Selected Image" id="selectedImage">
  </div>
  <%- include('../includes/end.ejs') %>
